.formulario {
  margin-top: 1rem;
  width: 90%;
}

.item-create-form {
  margin-top: 1rem;
  width: 60%;
}

.form__label {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.header-form {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.input-container {
  font-weight: bold;
  position: relative;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.input-container .editbtn {
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  border: none;
  font-size: 1.5rem;
  background: var(--page-content-blockColor);
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--color-tertiary);
}

.input {
  box-sizing: border-box;
  border-bottom: 1px solid var(--text-dark);
  color: var(--text-dark);
  font-size: 1.02rem;
  padding: 1.375rem 0.5rem 0.5rem;
  height: 2.5rem;
  width: 100%;
}

.row-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.total {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.total input:disabled {
  background: var(--disabled-color);
}

.name {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.item-create-form .name{
  width: 80%;
}

.price {
  display: flex;
  flex-direction: column;
  width: 20%;
}


.item-create-form .price{
  width: 20%;
}

.price input:disabled {
  background: var(--disabled-color);
}

.quantity {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.quantity input:disabled {
  background: var(--disabled-color);
}

.input::placeholder {
  visibility: hidden;
  color: var(--text);
}

.input:focus {
  outline: none;
}

.input-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: 1.125rem;
  color: var(--text-dark);

  transition: all 0.25s;
}

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}

.input-container--invalid {
  margin-bottom: 0.5rem;
}

.input-container--invalid .input {
  border: 1px solid var(--error-color);
  border-radius: 7px;
}

.input-container--invalid .input-label {
  color: var(--warning-color);
}

.input-message-error {
  display: none;
}

.input-container--invalid .input-message-error {
  color: var(--warning-color);
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.textarea {
  box-sizing: border-box;
  border: 1px solid var(--text);
  padding: 0.5rem;
  border-radius: 7px;
  width: 100%;
  font-size: 1.125rem;
  min-height: 3rem;
}

.textarea-container {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.textarea::placeholder {
  color: var(--text);
  font-size: 0.875rem;
}

.textarea:focus {
  outline: none;
}

.textarea-label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: var(--font-size-input-label);
  transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .textarea-label,
.textarea:focus + .textarea-label {
  font-size: 0.875rem;
  top: -1.25rem;
  transition: all 0.25s;
}

.textarea-container--invalid {
  margin-bottom: 0.5rem;
}

.textarea-container--invalid .textarea {
  border: 1px solid var(--warning-color);
}

.textarea-container--invalid .textarea-label {
  color: var(--warning-color);
}

.textarea-mensagem-erro {
  display: none;
}

.textarea-container--invalid .textarea-mensagem-erro {
  display: block;
  color: var(--warning-color);
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

/* Para mobiles */
@media screen and (max-width: 768px) {
  .row-form {
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
  .price {
    width: 100%;
  }
  .total {
    width: 100%;
  }
  .quantity {
    width: 100%;
  }
}
