.popups_container {
  padding-top: 5%;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: inherit;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: inherit;
  background: var(--popup-background);
  border: 1px solid #ffffff;
  width: 80%;
  height: auto;
  padding: 0 0 10px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup-suggestions {
  width: 50%;
  position: absolute;
  z-index: 3;
}

.popup-clientes {
  width: 50%;
  position: absolute;
  z-index: 3;
}

.popup-item-update {
  width: 50%;
  position: absolute;
  z-index: 3;
}

.popup img {
  margin-top: 20px;
  width: 80px;
  margin-bottom: 5%;
}

.popup .popup_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: var(--text);
}

.popup-close-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.popup_close {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  padding: 6px;
  cursor: pointer;
}

/* Para mobiles */
@media only screen and (min-width: 0) {
  .popup img {
    width: 40px;
  }

  .popup {
    width: 80%;
  }

  .popup-clientes {
    width: 80%;
  }

  .popup .popup_title {
    font-size: 25px;
  }
}

/* Para tablets*/
@media only screen and (min-width: 768px) {
  .popup img {
    width: 50px;
  }

  .popup .popup_title {
    font-size: 50px;
  }
  .popup-clientes {
    width: 50%;
  }
}

/*Para escritorio*/
@media only screen and (min-width: 922) {
  .popup img {
    width: 60px;
  }

  .popup .popup_title {
    font-size: 50px;
  }
  .popup-clientes {
    width: 50%;
  }
}

/* para pantallas grandes */
@media only screen and (min-width: 1200px) {
  .popup img {
    width: 70px;
  }

  .popup .popup_title {
    font-size: 50px;
  }
  .popup-clientes {
    width: 50%;
  }
}
