.totales__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  width: 100%;
}

.totales__title {
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--text-light);
  margin-bottom: 0.4rem;
  text-align: center;
}

.totales__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.4rem;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 100;
}

.totales__item--title {
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--color-tertiary-light);
  margin-right: 0.4rem;
}
